.product {
	margin: 2.5rem;
	padding: 2.5rem 5rem;
	background-color: var(--color-dark--1);
	min-height: calc(100vh - 5rem);
}

.product section {
	width: clamp(80rem, 80%, 90rem);
	margin: 6rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 7rem;
	align-items: center;
}

.product img {
	width: 100%;
}

.product .animateImg {
	opacity: 0;
	animation: imageAppear 1.5s ease-in-out forwards;
}
.product h2 {
	font-size: 4rem;
	line-height: 1.2;
	margin-bottom: 3rem;
}

.product p {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}

.product section a {
	margin-top: 2rem;
}

.price {
	color: goldenrod;
}

h2,
p {
	opacity: 0;
	animation: slideUpFadeIn 1s ease-out forwards;
}

p:nth-of-type(1) {
	animation-delay: 0.5s;
}

p:nth-of-type(2) {
	animation-delay: 0.8s;
}

p:nth-of-type(3) {
	animation-delay: 1.1s;
}

@keyframes slideUpFadeIn {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes imageAppear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
